<div class="blog-post">
  <h2 class="blog-post-title"><a href="{{relative @root.dest this.dest}}">{{data.title}}</a></h2>
  <p class="blog-post-meta">{{moment-live this.date format="MMMM Do YYYY"}} by <a href="#">{{data.author}}</a></p>

  {{{data.excerpt}}}
</div>