<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>

  <body>

    {{> navbar }}



    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">{{site.title}}</h1>
        <p class="lead blog-description">{{site.description}}</p>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">


          {{#each related-pages}}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{relative ../dest this.dest}}">{{data.title}}</a></h2>
            <p class="blog-post-meta">{{moment-live this.date format="MMMM Do YYYY"}} by <a href="#">{{data.author}}</a></p>
            {{{data.summary}}}
          </div>
          {{/each}}


          <ul class="pager">
            <li><a href="{{relative this.dest pagination.prev.dest}}">Previous</a></li>
            <li><a href="{{relative this.dest pagination.next.dest}}">Next</a></li>
          </ul>
        </div><!-- /.blog-main -->


        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {{> sidebar }}
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    {{> footer }}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{assets}}/js/moment.min.js"></script>
    <script src="{{assets}}/js/bootstrap.min.js"></script>
    <script src="{{assets}}/js/docs.min.js"></script>
  </body>
</html>

